<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey</title>
  <link rel="stylesheet" type="text/css" href="/surveycss/reset.css">
  <link rel="stylesheet" type="text/css" href="/surveycss/design.css">
  </head>
<body>
  <section id="contents">
    <div class="survey_problems">
      <div class="wholeproblem">
        <div class="problem">
          <h4>나는 건물을 지을 때</h4>
        </div>
        <div class="answer">
          <div>
            <input id="answer1" type="radio" name="1value" value="manage" style="cursor: pointer">
            <label for="answer1"style="cursor: pointer">예산을 관리하는 회계 담당 부서에 속하고 싶다.</label>
          </div>
          <div>
            <input id="answer2" type="radio" name="1value" value="engineer" style="cursor: pointer">
            <label for="answer2" style="cursor: pointer">건축 안정성을 검사하는 건축공학 부서에 속하고 싶다.</label>
          </div>
          <div>
            <input id="answer3" type="radio" name="1value" value="design" style="cursor: pointer">
            <label for="answer3" style="cursor: pointer">건물의 외관과 내부를 꾸미는 디자인 부서에 속하고 싶다.</label>
          </div>
          <div>
            <input id="answer4" type="radio" name="1value" value="manage" style="cursor: pointer">
            <label for="answer4" style="cursor: pointer">건물의 활용과 전반적인 것에 관여하는 경영 부서에 속하고 싶다.</label>
          </div>
        </div>
        <div class="button">
          <button class="next" style="cursor: pointer">다음</button>
        </div>
      </div>
      <div class="wholeproblem">
        <div class="problem">
          <h4>나는 대회를 나갈 때</h4>
        </div>
        <div class="answer">
          <div>
            <input id="answer21" type="radio" name="2value" value="exercise" style="cursor: pointer">
            <label for="answer21" style="cursor: pointer">운동을 하는 체육대회가 좋다.</label>
          </div>
          <div>
            <input id="answer22" type="radio" name="2value" value="design" style="cursor: pointer">
            <label for="answer22" style="cursor: pointer">그림을 그리는 예술대회가 좋다.</label>
          </div>
          <div>
            <input id="answer23" type="radio" name="2value" value="engineer" style="cursor: pointer">
            <label for="answer23" style="cursor: pointer">핸드폰 앱을 만드는 대회가 좋다.</label>
          </div>
          <div>
            <input id="answer24" type="radio" name="2value" value="manage" style="cursor: pointer">
            <label for="answer24" style="cursor: pointer">모의주식투자 대회가 좋다.</label>
          </div>
        </div>
        <div class="button button-wrap">
          <button class="before" style="cursor: pointer">이전</button>
          <button class="next" style="cursor: pointer">다음</button>
        </div>
      </div>
      <div class="wholeproblem">
        <div class="problem">
          <h4>나는 프로젝트를 맡게 되면</h4>
        </div>
        <div class="answer">
          <div>
            <input id="answer31" type="radio" name="3value" value="human" style="cursor: pointer">
            <label for="answer31" style="cursor: pointer">프로젝트의 윤리적, 사회적 방향성을 먼저 고려한다.</label>
          </div>
          <div>
            <input id="answer32" type="radio" name="3value" value="engineer" style="cursor: pointer">
            <label for="answer32" style="cursor: pointer">어떤 기술이 필요할지 파악한다.</label>
          </div>
          <div>
            <input id="answer33" type="radio" name="3value" value="design" style="cursor: pointer">
            <label for="answer33" style="cursor: pointer">실질적인 기능보다는 겉으로 보이는 외관을 중요시한다.</label>
          </div>
          <div>
            <input id="answer34" type="radio" name="3value" value="manage" style="cursor: pointer">
            <label for="answer34" style="cursor: pointer">직접 팀원들을 모으고, 프로젝트 수행 중 의견을 종합한다.</label>
          </div>
        </div>
        <div class="button button-wrap">
          <button class="before" style="cursor: pointer">이전</button>
          <button class="next" style="cursor: pointer">다음</button>
        </div>
      </div>
      <div class="wholeproblem">
        <div class="problem">
          <h4>학교에서 축제를 할 때</h4>
        </div>
        <div class="answer">
          <div>
            <input id="answer41" type="radio" name="4value" value="manage" style="cursor: pointer">
            <label for="answer41" style="cursor: pointer">필요한 물품을 정리하고, 수요 파악을 한다.</label>
          </div>
          <div>
            <input id="answer42" type="radio" name="4value" value="human" style="cursor: pointer">
            <label for="answer42" style="cursor: pointer">학생들을 취재하고, 학교 기사를 쓴다.</label>
          </div>
          <div>
            <input id="answer43" type="radio" name="4value" value="design" style="cursor: pointer">
            <label for="answer43" style="cursor: pointer">축제 테마 별로 어떻게 꾸밀지 생각한다.</label>
          </div>
          <div>
            <input id="answer44" type="radio" name="4value" value="exercise" style="cursor: pointer">
            <label for="answer44" style="cursor: pointer">물품을 직접 필요한 곳으로 옮기는 역할을 한다.</label>
          </div>
        </div>
        <div class="button button-wrap">
          <button class="before" style="cursor: pointer">이전</button>
          <button class="next" style="cursor: pointer">다음</button>
        </div>
      </div>
      <div class="wholeproblem">
        <div class="problem">
          <h4>학교에서 축제를 할 때</h4>
        </div>
        <div class="answer">
          <div>
            <input id="answer51" type="radio" name="5value" value="exercise" style="cursor: pointer">
            <label for="answer51" style="cursor: pointer">선수로 직접 뛴다.</label>
          </div>
          <div>
            <input id="answer52" type="radio" name="5value" value="manage" style="cursor: pointer">
            <label for="answer52" style="cursor: pointer">감독으로 팀을 운영한다.</label>
          </div>
          <div>
            <input id="answer53" type="radio" name="5value" value="manage" style="cursor: pointer">
            <label for="answer53" style="cursor: pointer">대회를 기획 및 운영하는 팀으로 들어간다.</label>
          </div>
          <div>
            <input id="answer54" type="radio" name="5value" value="human" style="cursor: pointer">
            <label for="answer54" style="cursor: pointer">대회에 쓰일 글귀 공모전을 참여한다.</label>
          </div>
        </div>
        <div class="button button-wrap">
          <button class="before" style="cursor: pointer">이전</button>
          <button onclick="test()" style="cursor: pointer">제출</button>
        </div>
      </div>

    </div>
  </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script type="text/javascript" src="/surveycss/scroll.js"> </script>
  <script>
    function test() {
      let obj_length1 = document.getElementsByName("1value").length;
        let namelist=["human","engineer","design","manage","exercise"]
        let valuelist=[0,0,0,0,0]
        for (let i=0; i<obj_length1; i++) {
            if (document.getElementsByName("1value")[i].checked == true) {
                if (document.getElementsByName("1value")[i].value==="human"){
                  valuelist[0]=valuelist[0]+1;
                }
                else if (document.getElementsByName("1value")[i].value==="engineer"){
                  valuelist[1]=valuelist[1]+1;
                }
                else if (document.getElementsByName("1value")[i].value==="design"){
                  valuelist[2]=valuelist[2]+1;
                }
                else if (document.getElementsByName("1value")[i].value==="manage"){
                  valuelist[3]=valuelist[3]+1;
                }
                else if (document.getElementsByName("1value")[i].value==="exercise"){
                  valuelist[4]=valuelist[4]+1;
                }
            }
        }
        let obj_length2 = document.getElementsByName("2value").length;
        for (let i=0; i<obj_length2; i++) {
            if (document.getElementsByName("2value")[i].checked === true) {
                if (document.getElementsByName("2value")[i].value==="human"){
                  valuelist[0]=valuelist[0]+1;
                }
                else if (document.getElementsByName("2value")[i].value==="engineer"){
                  valuelist[1]=valuelist[1]+1;
                }
                else if (document.getElementsByName("2value")[i].value==="design"){
                  valuelist[2]=valuelist[2]+1;
                }
                else if (document.getElementsByName("2value")[i].value==="manage"){
                  valuelist[3]=valuelist[3]+1;
                }
                else if (document.getElementsByName("2value")[i].value==="exercise"){
                  valuelist[4]=valuelist[4]+1;
                }
            }
        }
        let obj_length3 = document.getElementsByName("3value").length;
        for (let i=0; i<obj_length3; i++) {
            if (document.getElementsByName("3value")[i].checked === true) {
                if (document.getElementsByName("3value")[i].value==="human"){
                  valuelist[0]=valuelist[0]+1;
                }
                else if (document.getElementsByName("3value")[i].value==="engineer"){
                  valuelist[1]=valuelist[1]+1;
                }
                else if (document.getElementsByName("3value")[i].value==="design"){
                  valuelist[2]=valuelist[2]+1;
                }
                else if (document.getElementsByName("3value")[i].value==="manage"){
                  valuelist[3]=valuelist[3]+1;
                }
                else if (document.getElementsByName("3value")[i].value==="exercise"){
                  valuelist[4]=valuelist[4]+1;
                }
            }
        }
        let obj_length4 = document.getElementsByName("4value").length;
        for (let i=0; i<obj_length4; i++) {
            if (document.getElementsByName("4value")[i].checked === true) {
                if (document.getElementsByName("4value")[i].value==="human"){
                  valuelist[0]=valuelist[0]+1;
                }
                else if (document.getElementsByName("4value")[i].value==="engineer"){
                  valuelist[1]=valuelist[1]+1;
                }
                else if (document.getElementsByName("4value")[i].value==="design"){
                  valuelist[2]=valuelist[2]+1;
                }
                else if (document.getElementsByName("4value")[i].value==="manage"){
                  valuelist[3]=valuelist[3]+1;
                }
                else if (document.getElementsByName("4value")[i].value==="exercise"){
                  valuelist[4]=valuelist[4]+1;
                }
            }
        }
        let obj_length5 = document.getElementsByName("5value").length;
        for (let i=0; i<obj_length3; i++) {
            if (document.getElementsByName("5value")[i].checked === true) {
                if (document.getElementsByName("5value")[i].value==="human"){
                  valuelist[0]=valuelist[0]+1;
                }
                else if (document.getElementsByName("5value")[i].value==="engineer"){
                  valuelist[1]=valuelist[1]+1;
                }
                else if (document.getElementsByName("5value")[i].value==="design"){
                  valuelist[2]=valuelist[2]+1;
                }
                else if (document.getElementsByName("5value")[i].value==="manage"){
                  valuelist[3]=valuelist[3]+1;
                }
                else if (document.getElementsByName("5value")[i].value==="exercise"){
                  valuelist[4]=valuelist[4]+1;
                }
            }
        }
        let check=0;
        let result=valuelist[0];
        for(let j=0;j<4;j++){
          check+=valuelist[j];
          if(result<valuelist[j+1]){
            result=j+1;
          }
        }
        check+=valuelist[4];
        if(check!==5){
          alert('선택되지 않은 문항이 있습니다.');
        }
        else{
          if(result===0){
            location.replace('/surveyresult/human');
          }
          else if(result===1){
            location.replace('/surveyresult/engineer');
          }
          else if(result===2){
            location.replace('/surveyresult/design');
          }
          else if(result===3){
            location.replace('/surveyresult/manage');
          }
          else if(result===4){
            location.replace('/surveyresult/exercise');
          }
    }
  }
  </script>
</body>
</html>
