<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

	<title>exercise</title>
	<style>
		.container {
			width: 640px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="d-flex align-items-center mb-2" style="justify-content:center; margin-top:60px">
			<img src="exercise.png" width="200px">
		</div>
	</div>
	<div class="container">
		<div class="d-flex align-items-center" style="justify-content:center; font-size: 30px; background-color: #e9e9e9;border-radius: 5px;">
			<span> 당신은 체육 계열 성향과 비슷합니다.</span>
		</div>
	</div>
	<div class="container">
		<div class="d-flex align-items-center" style=" font-size: 20px; margin-top:10px;">
			<span><i class="bi bi-arrow-right-square-fill"></i> 체육 계열은 스포츠 산업과 관련있는 분야 <br><br>운동 선수, 스포츠 마케팅, 의료, 경기 심판, 지도자 등 많은
                길이 열려있습니다. 최근 온라인으로 활동이 많아지며 반대로 몸을 사용하는 스포츠 산업의 규모가 굉장히 커지고 있습니다.
                일반적인 인식과 <br>다르게 다양한 진로의 선택이 가능합니다. 조심해야 할 점은 몸을 <br>사용하는 경우가 많으니, 부상을 조심해야 합니다.
			</span>
		</div>
	</div>
	<div class="container">
		<div style="font-size: 25px; margin-top:10px; padding-left:10px;background-color: #e9e9e9;border-radius: 5px;"><span>비슷한 인물</span></div>
	</div>
	<div class="container">
		<div class="d-flex align-items-center" style="font-size: 15px; margin-top:10px;">
			<ul>
				<li>손흥민</li>
				<li>스테판 커리</li>
				<li>피에를루이지 콜리나</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="d-flex align-items-center" style="justify-content:center; margin-top:10px;">
			<button class="btn btn-primary" onclick="complete()" style="width: 80px;height: 40px;border-style: none;border-radius: 5px;font-size:20px;">
				완료</button>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
	crossorigin="anonymous"></script>
<script>
	function complete(){
		location.replace('/main');
	}
</script>
</body>

</html>
